#playlistOverlay {
	background: #333538;
	color: #FFF;
	border-right: 2px solid #85888e;
	border-top: 2px solid #85888e;
	border-bottom: 2px solid #85888e;
	position: absolute;
	top: 10px;
	padding: 20px;
	z-index: 1000;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

#playlistCloseButton {
	position: absolute;
	top: 20px;
	right: 20px;
}

#playlistMenu {
	float:left;
	padding-right: 10px;
}

#playlistAddButton {
	margin-top: 30px;
	cursor: pointer;
	padding: 10px;
	background: #505359;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
} 

#playlistVideos {
	margin-top: 10px;
	margin-left: 0;
}
#playlistVideos li {
	list-style-type: none;
}

.playlistPlayButton {
	cursor: pointer;
	color: #fff;
	padding: 5px 14px;
	margin-top: 5px;
	width: 150px;
	overflow: auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;

	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;

	background: #307c0b;
	background: -moz-linear-gradient(top, #5ab52b 0%, #439619 50%, #307c0b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ab52b), color-stop(50%, #439619), color-stop(100%, #307c0b));
	background: -webkit-linear-gradient(top, #5ab52b 0%, #439619 50%, #307c0b 100%);
	background: -o-linear-gradient(top, #5ab52b 0%, #439619 50%, #307c0b 100%);
	background: -ms-linear-gradient(top, #5ab52b 0%, #439619 50%, #307c0b 100%);
	background: linear-gradient(top, #5ab52b 0%, #439619 50%, #307c0b 100%);
}

.playlistButton {
	border: none;
	background: #505359;
	color: #FFFFFF;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.playlistRemoveButton {
	margin-left: 10px;
}

#playlistPlayer {
	height: 450px;
	width: 800px;
	position: relative;
	float: right;
	margin: 20px;
	margin-top: 30px;
}