#playlistOverlay {
	background: #212225;
	color: #FFF;
	border-right: 2px solid #727476;
	border-top: 2px solid #727476;
	border-bottom: 2px solid #727476;
	position: absolute;
	top: 10px;
	padding: 20px;
	z-index: 1000;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	min-width: 200px;
}

#playlistCloseButton {
	position: absolute;
	top: 20px;
	right: 20px;
}

#playlistMenu {
	float:left;
	padding-right: 10px;
}

#playlistAddButton {
	margin-top: 30px;
	cursor: pointer;
	padding: 10px;
	background: #505359;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
} 

#playlistVideos {
	margin-top: 10px;
	margin-left: 0;
}
#playlistVideos li {
	list-style-type: none;
}

.playlistPlayButton {
	cursor: pointer;
	color: #fff;
	background: #505359;
	padding: 7px 14px;
	margin-top: 5px;
	width: 160px;
	overflow: auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;

	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.playlistActiveVideo {
	background: #307c0b;
	background: -moz-linear-gradient(top, #5ab52b 0%, #439619 50%, #307c0b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ab52b), color-stop(50%, #439619), color-stop(100%, #307c0b));
	background: -webkit-linear-gradient(top, #5ab52b 0%, #439619 50%, #307c0b 100%);
	background: -o-linear-gradient(top, #5ab52b 0%, #439619 50%, #307c0b 100%);
	background: -ms-linear-gradient(top, #5ab52b 0%, #439619 50%, #307c0b 100%);
	background: linear-gradient(top, #5ab52b 0%, #439619 50%, #307c0b 100%);
}

.playlistButton {
	border: none;
	background: #505359;
	color: #FFFFFF;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.playlistRemoveButton {
	margin-left: 10px;
	display: none;
}

#playlistEditButton {
  margin-top: 30px;
}

#playlistPlayer {
	height: 450px;
	width: 800px;
	position: relative;
	float: right;
	margin-left: 10px;
	margin-top: 50px;
}

.playlistItem {
 position: relative; 
}

.playlistArrows {
  padding-left: 20px;
}

.playlistArrows:before {
  content: '';
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom-color: #FFF;
	position: absolute;
	top: 6px;
	left: 4px;
}
.playlistArrows:after {
	content: '';
	position: absolute;
	left: 4px;
	top: 22px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #FFF;
}

.playlistMessage {
  width: 200px;
  margin: 30px;
  margin-bottom: 50px;
  font-size: 16px;
}